.screen {
    background-color: rgb(97, 97, 97);
    color: black;

    min-width: 100%;
    max-width: 100%;

    border-radius: 10px;

    padding: 1em;

    text-align: right;
}

.input {
    font-size: 16px;
    color: rgb(0, 0, 0);

    text-wrap: balance;
}

.result {
    font-size: 26px;
    color: white;
}