.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;

  border-radius: 10px;

  width: 90vw;
  max-width: 600px;
  min-width: 350px;
  padding: 2em;

  gap: 0.5em;

  background-color: rgb(20, 20, 20);

  aspect-ratio: 3 / 4;
}

.screen,
.buttons,
.row {
  display: flex;
  gap: 0.5em;
  flex: 1;
}

.buttons {
  flex-direction: column;
}